Source: sapphrc
Section: unknown
Priority: optional
Maintainer: Penelope Gwen <support@pogmom.me>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/SapphicLinux/sapphrc

Package: sapphrc
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}, git,rsync
Description: dotfiles backup and profiles
 <Insert long description, indented with spaces.>
